input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

fieldset {
    display: flex;
    flex-direction: column;
}

.form-sign-up {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 10px;
    font-weight: 500;
}

.first-box, .second-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

#sec-sign-up {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: 0;
}

#sec-sign-up h1 {
    text-align: center;
}

@media only screen and (min-width:480px) {
    .form-sign-up {
        display: flex;
        flex-direction: row;
        justify-content:center;
        gap: 100px;
    }

    .first-box, .second-box {
        width: 25%;
    }
}