<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/header.css">
        <!--<link rel="stylesheet" href="../css/main.css">-->
        <link rel="stylesheet" href="../css/sidebar.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/login.css">
    </head>
    <body>
        <aside>
            <div class="container">
                <h2>Menu</h2>
                <nav>
                    <ul>
                        <li id='li-home' onclick="window.location.href = '../views/index.html';">
                            <a>
                                Home
                            </a>
                        </li>
                        <li id='li-sign-up' onclick="window.location.href = '../views/employee-signup.html';">
                            <a>
                                Sign Up
                            </a>
                        </li>
                        <li id='li-log-in' onclick="window.location.href = '../views/login.html';">
                            <a>
                                LogIn
                            </a>
                        </li>
                        <li id='li-contact' onclick="window.location.href = '../views/index.html#sec-form';">
                            <a>
                                Contact
                            </a>
                        </li>
                    </ul>
                </nav>
                <article>
                    <h2>
                        Get in touch
                    </h2>
                    <div class="contact-content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Fuga aperiam minima aut voluptates dignissimos obcaecati
                            consequatur voluptatem temporibus praesentium? Repellat
                            nesciunt amet ab laboriosam labore dolore iure deserunt.
                        </p>
                        <div>
                            <p>
                                <i class="fa-regular fa-envelope fa-xl"></i>
                                <span>info@trakgenix.com</span>
                            </p>
                            <p>
                                <i class="fa-sharp fa-solid fa-house-chimney-window fa-xl"></i>
                                <span>
                                    1234 Somewhere Road #8254
                                    Nashville, TN 00000-0000
                                </span>
                            </p>
                            <p>
                                <i class="fa-sharp fa-solid fa-square-phone fa-xl"></i>
                                <span>(000)000-0000</span>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </aside>
        <div class="header-main-footer">
            <header>
                <div id="header-top">
                    <i id="btn-sidebar" class="fa-solid fa-bars fa-2xl"></i>
                    <p>
                        <b>Trackgenix</b> by GigaTech Software Solutions SA
                    </p>
                    <div>
                        <a class="link-icon">
                            <i class="fa-brands fa-square-facebook fa-2xl icon"></i>
                        </a>
                        <a style="text-decoration: none;" class="link-icon">
                            <i class="fa-brands fa-instagram fa-2xl icon"></i>
                        </a>
                        <a style="text-decoration: none;" class="link-icon">
                            <i class="fa-brands fa-twitter fa-2xl icon"></i>
                        </a>
                        <a style="text-decoration: none;" class="link-icon">
                            <i class="fa-brands fa-linkedin fa-2xl icon"></i>
                        </a>
                        <a style="text-decoration: none;" class="link-icon">
                            <i class="fa-brands fa-github fa-2xl icon"></i>
                        </a>
                    </div>
                </div>
            </header>
            <main>
                <section id='sec-form'>
                    <h1>Log in:</h1>
                    <form action="#" class="form-login" id="form-login">
                        <fieldset>
                            <label for="input-email">
                                Email:
                            </label>
                            <input id="input-email" type="text" class="input">
                        </fieldset>
                        <fieldset>
                            <label for="input-password">
                                Password:
                            </label>
                            <input id="input-password" type="password" class="input">
                        </fieldset>
                        <fieldset>
                            <label for="input-checkbox">
                                Remember me:
                            </label>
                            <input id="input-checkbox" type="checkbox" class="input">
                        </fieldset>
                        <input type="submit" class="button-submit" id="button-submit" value="Log In">
                    </form>
                </section>
            </main>
            <footer>
                <div>
                    <a class="link-icon">
                        <i class="fa-brands fa-square-facebook fa-2xl icon"></i>
                    </a>
                    <a class="link-icon">
                        <i class="fa-brands fa-instagram fa-2xl icon"></i>
                    </a>
                    <a class="link-icon">
                        <i class="fa-brands fa-twitter fa-2xl icon"></i>
                    </a>
                    <a class="link-icon">
                        <i class="fa-brands fa-linkedin fa-2xl icon"></i>
                    </a>
                    <a class="link-icon">
                        <i class="fa-brands fa-github fa-2xl icon"></i>
                    </a>
                </div>
                <div>
                    <p>
                        Copyright © 2022 GigaTech Software Solutions SA. All rights reserved.
                    </p>
                </div>
            </footer>
        </div>
        <script src="https://kit.fontawesome.com/0869bc7a4c.js" crossorigin="anonymous"></script>
        <script src="../javascript/login.js"></script>
    </body>
</html>