header {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

header div div h4 {
    font-size: 20px;
    font-weight: 400;
}

header div h5 {
    font-size: 14px;
    font-weight: 500;
}

header div button {
    width: 143px;
    height: 34px;
}

#header-top {
    display: flex;
    justify-content: space-between;
}

#btn-learn-more {
    width: 150px;
}


#header-presentation {
    display: flex;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
}

#header-left-section {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content:space-around;
}

@media (max-width:769px) {

    #header-top {
        display: none;
    }
}