#sec-reasons {
    padding-top: 40px;
    border-top: 2px rgba(55, 56, 103, 1) solid;
}

#sec-reasons .reasons {
    display: flex;
    flex-wrap: wrap;  
    gap: 10px;
    justify-content: space-around;
    margin-right: 10%;
}

.reasons div {
    display: flex;
    gap: 4%;
    margin-bottom: 20px;
    max-width: 500px;
}

.reasons div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sec-reasons div div h3 {
    font-size: 20px;
    font-weight: bolder;
}


#sec-reasons div div p {
    width: 100%;
    margin-bottom: 10px;
}

#sec-reasons div img {
    width: 30%;
    height: fit-content;
}